.nav-main {
    color: blueviolet;
    font-size: 20px;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

h1 {
    color:rgb(95, 12, 172);
    font-size: 25px;
}